@import "tailwindcss";

[id] {
    scroll-margin-top: 7.25rem;
}

/* JS detection classes */
.if-js {
    display: none;
}

.js .if-js {
    display: revert;
}

.js .unless-js {
    display: none;
}

@plugin "@tailwindcss/typography";

@theme {

    --color-white: #fff;
    --color-black: #000;

    /* Brand colors */
    --color-brand-50: oklch(93.5% 0.021 252) ;
    --color-brand-100: oklch(86.9% 0.042 252);
    --color-brand-200: oklch(80.4% 0.064 252);
    --color-brand-300: oklch(73.9% 0.085 252);
    --color-brand-400: oklch(67.3% 0.106 252);
    --color-brand-500: oklch(60.8% 0.127 252);
    --color-brand-600: oklch(46.5% 0.127 252);
    --color-brand-700: oklch(38.8% 0.106 252);
    --color-brand-800: oklch(31% 0.085 252);
    --color-brand-900: oklch(23.3% 0.064 252);
    --color-brand-950: oklch(15.5% 0.042 252);


    /* Grayscale */
    --color-gray-50: #fafafa;
    --color-gray-100: #f5f5f5;
    --color-gray-200: #e9ecef;
    --color-gray-300: #dee2e6;
    --color-gray-400: #ced4da;
    --color-gray-500: #adb5bd;
    --color-gray-600: #6c757d;
    --color-gray-700: #495057;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;
}
